<!-- views/table.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Toyota</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>

  <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Toyota</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/home">Home</a></li>
            <li><a href="/newCars">New Cars</a></li>
            <li><a href="/usedCars">Used Cars</a></li>
            <li><a href="/auctionCars">Auction Cars</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/logout">Logout</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
<div class="container">
  Welcome to Toyota Car Manager

  <form method="post" action="/insertCar" id="insertForm" class = "insertForm">
    <fieldset>
      <legend>Insert Car:</legend>
      VIN:<br>
      <input type="number" name="VIN" value="">
      <br>
      Classification:<br>
      <select name="Classification">
        <option value="New">New</option>
        <option value="Used">Used</option>
        <option value="Auction">Auction</option>
        <option value="Junk">Junk</option>
      </select>
      <br>
      Year:<br>
      <input type="number" name="Year" value="" min="1980" max="2017">
      <br>
      Model:<br>
      <select name="Model" id="Model" onLoad="modelChange()" onChange="modelChange()">
        <option value="Avalon">Avalon</option>
        <option value="Camry">Camry</option>
        <option value="Corolla">Corolla</option>
        <option value="Prius">Prius</option>
        <option value="Prius c">Prius c</option>
        <option value="Prius v">Prius v</option>
        <option value="Yaris">Yaris</option>
      </select>
      <br>
      Type:<br>
      <select name="Type" id="Type">
        <option value="XLE">XLE</option>
        <option value="XLE Plus">XLE Plus</option>
        <option value="XLE Premium">XLE Premium</option>
        <option value="Touring">Touring</option>
        <option value="Limited">Limited</option>
        <option value="Hybrid XLE Plus">Hybrid XLE Plus</option>
        <option value="Hybrid XLE Premium

">Hybrid XLE Premium

</option>
        <option value="Hybrid Limited">Hybrid Limited</option>
      </select>
      <br>
      Color:<br>
      <input type="text" name="Color" value="">
      <br>
      Accessories:<br>
      <input type="text" name="Accessories" value="">
      <br><br>

      <input type="submit" value="Submit">
    </fieldset>
  </form>
</div>
  
    <script src="scripts/scripts.js"></script>
</body>
</html>
