<!-- views/table.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Toyota</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  
</head>
<body>

  <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Toyota</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/home">Home</a></li>
            <li><a href="/insertCar">Insert Cars</a></li>
            <li><a href="/cars">Cars</a></li>
            <li class="active"><a href="/viewMaintenance">Maintenance</a></li>
            <li><a href="/viewOwners">Owners</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/logout">Logout</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
<div class="container">
  <h2>Sold Car Maintenance</h2>
  <p>Here are maintenance records:</p>            
  <table class="table table-hover">
    <thead>
      <tr>
        <th>VIN</th>
        <th>Date</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <% for(var i=0; i<records.length; i++) {%>
        <tr>
           <td><%= records[i].vin %></td>
           <td><%= records[i].date %></td>
           <td><%= records[i].description %></td>
        </tr>
        <% } %>
    </tbody>
  </table>

</div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>
</html>
