<!-- views/table.ejs -->
<!DOCTYPE html>
<html lang="en">
<head> 
  <title>Toyota</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/cars.css">
  
</head>
<body>

  <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/home">Toyota</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/home">Home</a></li>
            <li><a href="/insertCar">Insert Cars</a></li>
            <li><a href="/cars">Cars</a></li>
            <li class="active"><a href="/orders">Orders</a></li>
            <li><a href="/viewMaintenance">Maintenance</a></li>
            <li><a href="/viewOwners">Owners</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/logout">Logout</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
<div class="container">
  <div class="masthead">
    <nav>
      <ul class="nav nav-justified">
        <li class="active"><a href="/placeOrder">Place Order</a></li>
        <li><a href="/orders">All Orders</a></li>
        <li><a href="/onOrder">On Order</a></li>
        <li><a href="/backOrder">Back Order</a></li>
        <li><a href="/recentlyDelivered">Recently Delivered</a></li>
      </ul>
    </nav>
  </div>
  <h2></h2>     
  <div class="container">
    <% if (message.length > 0) { %>
      <div class="alert alert-success"><%= message %></div>
    <% } %>     
    <form method="post" action="/placeOrder" id="insertForm" class = "insertForm">
      <fieldset>
        <legend>Order Car:</legend>
        Model:<br>
        <select name="Model" id="Model" onLoad="modelChange()" onChange="modelChange()">
          <option value="Avalon">Avalon</option>
          <option value="Camry">Camry</option>
          <option value="Corolla">Corolla</option>
          <option value="Prius">Prius</option>
          <option value="Prius c">Prius c</option>
          <option value="Prius v">Prius v</option>
          <option value="Yaris">Yaris</option>
        </select>
        <br>
        Edition:<br>
        <select name="Type" id="Type">
          <option value="XLE">XLE</option>
          <option value="XLE Plus">XLE Plus</option>
          <option value="XLE Premium">XLE Premium</option>
          <option value="Touring">Touring</option>
          <option value="Limited">Limited</option>
          <option value="Hybrid XLE Plus">Hybrid XLE Plus</option>
          <option value="Hybrid XLE Premium">Hybrid XLE Premium</option>
          <option value="Hybrid Limited">Hybrid Limited</option>
        </select>
        <br>
        Color:<br>
        <input type="text" name="Color" value="">
        <br>
        Accessories:<br>
        <input type="text" name="Accessories" value="">
        <br><br>
        <input class="btn btn-primary" type="submit" value="Submit">
      </fieldset>
    </form>
  </div>

</div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="scripts/scripts.js"></script>
</body>
</html>
