<!-- views/table.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Cars</h2>
  <p>Here are the cars in the database:</p>            
  <table class="table table-hover">
    <thead>
      <tr>
        <th>VIN</th>
        <th>Model</th>
        <th>Type</th>
      </tr>
    </thead>
    <tbody>
      <% for(var i=0; i<2; i++) {%>
        <tr>
           <td> Cars </td>
           <td><%= cars[i].id %></td>
           <td><%= cars[i].name %></td>
        </tr>
        <% } %>
      <% for(var i=0; i<2; i++) {%>
        <tr>
           <td><%= user.local.username %></td>
           <td><%= user.local.password  %></td>
           <td> cars </td>
        </tr>
      <% } %>
      <tr>
        <td>July</td>
        <td>Dooley</td>
        <td>july@example.com</td>
      </tr>
    </tbody>
  </table>
</div>

</body>
</html>
